<!-- we have created this tmplate directory..also in this diredtory we need to create  a folder with the same name as our app name in this case it is base -->

{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>

<div class="home-container">
  <!-- this is the firsty col -->

  <div>
    {%include 'base/topic_component.html' %}
  </div>

  <!-- this is the second col -->
  <div>
    <!-- {% comment %}
    <h1>home template</h1>
    {% endcomment %} -->
    <h5>{{room_count}} rooms available</h5>
    <a href="{% url 'create-room' %}">Create Room</a>
    <div>
     {% include 'base/feed_component.html' %}
    </div>
  </div>

  <!-- this is the third col -->
  <div>
   {% include 'base/activity_component.html' %}
  </div>

  {% endblock content %}
</div>
