<!-- we have created this tmplate directory..also in this diredtory we need to create  a folder with the same name as our app name in this case it is base -->







{% extends 'main.html' %} {% block content %}

<h1>home template</h1>

<div>
  <div>
    {% for room in rooms %}
    <div>
      <!-- this below till dynamically route to differernt room -->

      <!-- Using Hard-Coded URL (<a href="/room/{{room.id}}">...</a>): -->
      <!-- <h2>{{room.id}}----<a href="/room/{{room.id}}"> {{room.name}}</a></h2>         -->

      <!-- Using Django URL Tag (<a href="{% url 'room' room.id %}">...</a>): -->

        <!-- in single quote of the href there is name of the view ..which is room -->

      <h2> 
        {{room.id}}----<a href="{% url 'room' room.id %}"> {{room.name}}</a>    <!-- isse jiska name room ho woh url se associate kar dega...so whatever the url may be is several places in our code...we can just access it by the name  given to that url...and just have to write the name correctly-->
      </h2>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
