<!-- we have created this tmplate directory..also in this diredtory we need to create  a folder with the same name as our app name in this case it is base -->

{% extends 'main.html' %} {% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>

<div class="home-container">
  <div>
    
    <h3>Browse Topics</h3>
    <hr />
    <div>
      <!-- All mein query nahi bhej rahe hain...isliye ek bhi parameter nahi jayega -->
      <a href="{% url 'home' %}"> 
        ALL
      </a>
    </div>
    {% for x in topics %}
    <!-- this value taken in the parameter in query will ne used to fillter the topics in browse topic menu -->
    <div>
      <!-- ismein query jaa rahi hain...matlab when i click them the parameter will be passed -->
      <a href="{% url 'home' %}?query={{x.name}}">
        <!-- {{x.id}})       -->
        <!-- here below i rendered all the topics -->
        {{x.name}}
      </a>
    </div>
    {% endfor %}
  </div>

  <div>
    <!-- {% comment %}
    <h1>home template</h1>
    {% endcomment %} -->
      <h5>{{room_
        
        
        
        
        
        
        
        
        
        
        
        
        count}} rooms available</h5>
    <a href="{% url 'create-room' %}">Create Room</a>
    <div>
      {% for room in rooms %}
      <div>
        <a href="{% url 'update-room' room.id %}">Edit room</a>
        <a href="{% url 'delete-room' room.id %}">delete room</a>
        <!-- this below till dynamically route to differernt room -->

        <!-- Using Hard-Coded URL (<a href="/room/{{room.id}}">...</a>): -->
        <!-- <h2>{{room.id}}----<a href="/room/{{room.id}}"> {{room.name}}</a></h2>         -->

        <!-- Using Django URL Tag (<a href="{% url 'room' room.id %}">...</a>): -->

        <!-- in single quote of the href there is name of the view ..which is room -->

        <span>@{{room.host.username}}</span>
        <!-- we can actually query upwards to the parent item,instead  of just attribute-->
        <h5>
          {{room.id}}----<a href="{% url 'room' room.id %}"> {{room.name}}</a>
        </h5>
        <!-- isse jiska name room ho woh url se associate kar dega...so whatever the url may be is several places in our code...we can just access it by the name  given to that url...and just have to write the name correctly-->
        <small> {{room.topic.name}} </small>
        <div class=""></div>
        <div>Description:</div>
        <small> {{room.description}} </small>
        <!-- whatever written in content dictionary we pass it like this-->
        <hr />
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
