{% extends 'main.html' %}
{%  block content %}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label for="username">Username</label>
        <input  id="username" type="text" placeholder="enter your username"  name="username">
        
        <label for="password">Password</label>
        <input   id="password" type="password" placeholder="enter your pasword" name="password">
        <input type="submit" value="login">
        <p>havent signed up yet?</p>
        <a href="{% url 'register' %}">Sign Up</a>
    </form>
</div>
{% else %}
 <div>
    <form method="POST" action="">
        {% csrf_token %}
        <!-- jo context mein ka apan ko likhna hain woh apan aise likhte -->
        {{form.as_p}}               
        <input type="submit" value="Register">
    </form>
    <p>Already signed up yet?  </p>
    <a href="{% url 'login' %}">Login In</a>
</div>
{% endif %}
{%  endblock content %}